<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- CABEÇALHO -->
                {{> adminHeader headerClass="bg-body-tertiary" backLink="/viajantes/denuncias/individual"}}
                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Usuária banida</h1>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <p style="font-size: 1.3rem; text-align: justify;">Usuária terá seu perfil excluído e será
                        notificada por e-mail.</p>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!-- imagem principal -->
                    <div class="d-flex center align-items-center justify-content-center container"
                        style="min-height: 125px;">
                        <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de conclusão de etapa"
                            style="height: 30vh;">
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!--botão de confirmação analise de denúncia e banimento de usuária -->
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/denuncias">
                            <button type="submit" class="btn btn-primary">Ok, entendi!</button>
                        </a>
                    </div>
                </main>

            </div>
        </div>
    </div>
</div>