<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- CABEÇALHO -->
                {{> adminHeader headerClass="bg-body-tertiary" backLink="/viajantes"}}
                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Denúncias</h1>
                    <br>
                    <!-- div de cantos arredondados-->
                    <!-- nesta div, "overflow-y: auto" adiciona rolagem vertical se necessário e "height: 70vh" define a altura máxima da caixa das denúncias-->
                    <div class="row d-flex align-items-center justify-content-center text-center rounded-4 border border-2 border-secondary container"
                        style="height: 70vh; overflow-y: auto;">

                        <!-- coluna que contêm o ID -->
                        <div class="col-md-4 rounded-4 container p-4 my-4" style="width: 10rem; height: 60vh;">
                            <div class="row">
                                <div class="col">
                                    <h4 style="text-transform: uppercase;">ID</h4>
                                </div>
                            </div>

                            <br>
                            <p id="idDenuncia">562</p><br>
                            <br>
                            <p id="idDenuncia">562</p><br>
                            <br>
                            <p id="idDenuncia">562</p><br>
                            <br>
                            <p id="idDenuncia">562</p><br>
                        </div>

                        <!-- coluna que contém o nome da usuária denunciada -->
                        <div class="col-md-4 rounded-4 container p-4 my-4" style="width: 20rem; height: 60vh;">
                            <div class="row">
                                <div class="col">
                                    <h4 style="text-transform: uppercase;">Denunciada</h4>
                                </div>
                            </div>

                            <br>
                            <p id="nameDenunciada">Adriana Silva e Silva</p><br>
                            <br>
                            <p id="nameDenunciada">Adriana Silva e Silva</p><br>
                            <br>
                            <p id="nameDenunciada">Adriana Silva e Silva</p><br>
                            <br>
                            <p id="nameDenunciada">Adriana Silva e Silva</p><br>
                        </div>

                        <!-- coluna que contém a data da denúncia -->
                        <div class="col-md-4 rounded-4 container p-4 my-4" style="width: 15rem; height: 60vh;">
                            <div class="row">
                                <div class="col">
                                    <h4 style="text-transform: uppercase;">Data</h4>
                                </div>
                            </div>

                            <br>
                            <p id="dateDenuncia">31/12/2023</p><br>
                            <br>
                            <p id="dateDenuncia">31/12/2023</p><br>
                            <br>
                            <p id="dateDenuncia">31/12/2023</p><br>
                            <br>
                            <p id="dateDenuncia">31/12/2023</p><br>
                        </div>

                        <!-- coluna que contém os botoes para exibir os detalhes da denuncia -->
                        <div class="col-md-4 rounded-4 container p-4 my-4" style="width: 20rem; height: 60vh;">
                            <div class="row">
                                <div class="col">
                                    <h4 style="text-transform: uppercase;">Ação</h4>
                                </div>
                            </div>

                            <a id="verificarDenuncia" href="/viajantes/denuncias/individual"
                                class="btn btn-primary btn-lg w-100">Verificar</a><br>
                            <a id="verificarDenuncia" href="/viajantes/denuncias/individual"
                                class="btn btn-primary btn-lg w-100">Verificar</a><br>
                            <a id="verificarDenuncia" href="/viajantes/denuncias/individual"
                                class="btn btn-primary btn-lg w-100">Verificar</a><br>
                            <a id="verificarDenuncia" href="/viajantes/denuncias/individual"
                                class="btn btn-primary btn-lg w-100">Verificar</a><br>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>
</div>