<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- seta para voltar e menu -->
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
                            <div class="container-fluid">

                                <a class="back-arrow" href="/denuncias">←</a>

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                                    <div class="navbar-nav ms-auto">
                                        <a class="nav-link" href="#"
                                            style="color: #050505; text-transform: uppercase; margin-right: 60px;">admin@peregrine.com</a>
                                        <a class="nav-link" href="#"
                                            style="color: #99067E; text-transform: uppercase;">Sair</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>

                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Denúncias</h1>
                    <br>
                    <!-- div de cantos arredondados-->
                    <!-- nesta div, "overflow-y: auto" adiciona rolagem vertical se necessário e "height: 70vh" define a altura máxima da caixa das denúncias-->
                    <div class="row d-flex align-items-center justify-content-center text-center rounded-4 border border-2 border-secondary container"
                        style="height: 70vh; overflow-y: auto;">

                        <!--div com as informacoes da denuncia individual-->
                        <div class="col rounded-4 container p-4 my-4" style="width: 10rem; height: 60vh;">
                            <!-- título da denuncia -->
                            <h3 id="tituloDenuncia" class="text-start" style="color: #99067E">Pessoa sem noção!</h3><br>

                            <!-- texto descritivo da denuncia -->
                            <p id="descricaoDenuncia" style="font-size: 1.3rem; text-align: justify;">Usuária Fulana de
                                tal roubou meu salgadinho no meio da viagem de ida ao destino, postou fotos feias e
                                roncava demais!</p>

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <!-- texto descritivo da denuncia -->
                            <p id="nameDenunciada" style="font-size: 1.3rem; text-align: justify;"><b>Usuária
                                    denunciada: </b> &nbsp; Adriana Silva e Silva</p>

                            <!-- texto descritivo da denuncia -->
                            <p id="nameViagem" style="font-size: 1.3rem; text-align: justify;"><b>Nome da viagem: </b>
                                &nbsp; Reveillon em Copacabana</p>

                            <!-- texto descritivo da denuncia -->
                            <p id="dateDenuncia" style="font-size: 1.3rem; text-align: justify;"><b>Data da viagem: </b>
                                &nbsp; 31/12/2023</p>

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <!-- div para conter os botões -->
                            <div class="row d-flex justify-content-between">
                                <!-- botao para cancelar denuncia -->
                                <div class="col-md-4 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary w-75 bg-success">Cancelar
                                        denúncia</button>
                                </div>

                                <!-- botao para banir usuário -->
                                <div class="col-md-4 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary w-75 bg-danger">Banir usuária</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>
</div>

<script src="/scripts/a_denunciaVisualizarIndividual.js"></script>