<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">

      <!-- Seção de redes sociais -->
      <div class="col-md-4 d-flex justify-content-start align-items-center">
        <h1>Peregrine ✈️</h1>
      </div>

      <!-- Seção de links -->
      <div class="col-md-2">
        <h5>Seu perfil e viagens</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Home</a></li>
          <li><a href="#" class="text-light">Perfil</a></li>
          <li><a href="#" class="text-light">Viagens</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <ul class="list-unstyled">
          <h5>Ajuda e privacidade</h5>
          <li><a href="#" class="text-light">Dúvidas frequentes</a></li>
          <li><a href="#" class="text-light">Termos e condições</a></li>
          <li><a href="#" class="text-light">Contatos</a></li>
        </ul>
      </div>

      <!-- Email para contato -->
      <div class="col-md-4 text-md-end text-center">
        <h5>Contato</h5>
        <p class="mb-1">Email: peregrine.planoviagem@gmail.com</p>

        <br><br>
        <h5>Nos siga nas redes sociais</h5>
        <a href="#" class="text-light mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-whatsapp"></i></a>
        <a href="#" class="text-light mx-2"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
    <!-- Direitos autorais -->
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2024 Peregrine. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>