<nav class="navbar navbar-expand-lg mx-5" style="background-color: antiquewhite;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <div class="logo-peregrine">
            <a href="/">
                <img src="/images/img-logoPeregrine-horizontal.png" alt="Ícone de Peregrine" class="img-fluid">
            </a>
        </div>

        <!-- Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/sobre"
                    style="color: #99067E; text-transform: uppercase; margin-right: 60px;">sobre</a>
                <a class="nav-link" href="/faq"
                    style="color: #99067E; text-transform: uppercase; margin-right: 60px;">ajuda</a>
                <!-- Verifica se o usuário está logado -->
                {{#if user}}
                <a class="nav-link" href="/perfil"
                    style="color: #99067E; text-transform: uppercase; margin-right: 60px;">PERFIL</a>
                {{else}}
                <p></p>
                {{/if}}
            </div>
        </div>
    </div>
</nav>