<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                {{> adminHeader headerClass="bg-body-tertiary" backLink="/administradores"}}
                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Usuários administradores</h1>
                    <br>

                    <!-- div de cantos arredondados-->
                    <!-- nesta div, "overflow-y: auto" adiciona rolagem vertical se necessário e "height: 60vh" define a altura máxima da caixa das denúncias-->
                    <div class="row rounded-4 border border-2 border-secondary container"
                        style="height: 70vh; overflow-y: auto;">
                        {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                        {{/if}}
                        <!-- coluna que contém o form de cadastro -->
                        <div class="container rounded-4 container p-1 my-2"
                            style="width: 50rem; height: 60vh; margin-left: 2rem;">
                            <form class="row d-flex align-items-start justify-content-start text-start"
                                action="/control/CadastrarAdmin" method="post">
                                <div class="col-md-8">
                                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                                    <input name="email" type="email" class="form-control rounded-5 mb-2"
                                        id="inputEmailAdm" placeholder="Informe o e-mail que você mais utiliza">
                                </div>
                                <div class="col-md-8">
                                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                                    <input name="senha" type="password" class="form-control rounded-5 mb-2"
                                        id="inputPasswordAdm" placeholder="Crie uma senha">
                                </div>
                                <div class="col-md-8">
                                    <label for="exampleInputPassword1" class="form-label">Confirme a senha</label>
                                    <input name="confirmarSenha" type="password" class="form-control rounded-5 mb-2"
                                        id="inputConfirmPasswordAdm" placeholder="Insira a mesma senha que criou acima">
                                </div>
                                <!-- Botão de enviar agora dentro da tag form -->
                                <div class="col-md-8 d-flex align-items-end justify-content-end text-end"
                                    style="margin-left: 40rem;">
                                    <button type="submit" class="btn btn-primary w-75 h-25">Criar administrador</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/a_criarUsuariosAdm.js"></script>