<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- CABEÇALHO -->
                {{> adminHeader headerClass="bg-body-tertiary" backLink="/administradores/criar"}}
                <!-- container principal -->
                <main class="container text-center">
                    <h1 style="color: #99067E">Operação realizada com sucesso</h1>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!-- imagem principal -->
                    <div class="d-flex center align-items-center justify-content-center container"
                        style="min-height: 125px;">
                        <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de conclusão de etapa"
                            style="height: 30vh;">
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!--botão de confirmação de criação de usuário administrador -->
                    <a href="/administradores/criar">
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary">Ok, entendi!</button>
                    </div>
                    </a>
                </main>

            </div>
        </div>
    </div>
</div>