<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- CABEÇALHO -->
                {{> adminHeader headerClass="bg-body-tertiary" backLink="/index-admin"}}

                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Usuários</h1>
                    <br>
                    <!-- div de cantos arredondados-->
                    <div class="row d-flex align-items-center justify-content-center text-center rounded-4 border border-2 border-secondary container"
                        style="min-height: 70vh;">

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="/images/icon-gerenciarUsuario.png"
                                alt="Ícone de menina - gerenciar usuário">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/viajantes/gerenciar" class="btn btn-primary btn-lg w-100">Gerenciar usuário</a>
                        </div>

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="/images/icon-aprovarUsuario.png" alt="Ícone de aprovado">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/viajantes/aprovar" class="btn btn-primary btn-lg w-100">Aprovar usuário</a>
                        </div>

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="/images/icon-verificarDenuncia.png" alt="Ícone de megafone - denúncia">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/viajantes/denuncias" class="btn btn-primary btn-lg w-100">Verificar denúncias</a>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>
</div>

<script src="../scripts/cadastroEnvioDoc.js"></script>