<main class="container">
    <h1 style="color: #99067E">Avaliação recebida</h1>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <p style="font-size: 1.3rem; text-align: justify;">Obrigada pela sua avaliação! É muito importante te ouvir e saber
        como foi sua experiência, assim podemos te oferecer o melhor sempre. Esperamos que você embarque em novas
        aventuras com a gente!</p>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <br><br>
    <!-- imagem principal -->
    <div class="d-flex center align-items-center justify-content-center container" style="min-height: 125px;">
        <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de etapa de análise" style="height: 30vh;">
    </div>

    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <br><br>

    <!--botão de confirmação planejamento de viagem concluído -->
    <div class="d-flex align-items-center justify-content-center">
        <a href="/perfil/minhas-viagens-concluidas" class="btn btn-primary" style="width: 20rem;">Ok, entendi!</a>
    </div>
</main>