<main class="container">
    <h1 style="color: #99067E">Denúncia recebida</h1>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <p style="font-size: 1.3rem; text-align: justify;">Lamentamos pelo ocorrido! Agradecemos pelo seu relato, iremos
        analisar sua denúncia cuidadosamente. Fique tranquila, a denúncia é totalmente anônima, essa usária não saberá
        que você a denunciou!</p>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <br><br>

    <!-- imagem principal -->
    <div class="d-flex center align-items-center justify-content-center container" style="min-height: 125px;">
        <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de etapa de análise" style="height: 30vh;">
    </div>

    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <br><br>

    <!--botão de confirmação planejamento de viagem concluído -->
    <div class="d-flex align-items-center justify-content-center">
        <a href="/perfil/minhas-viagens-concluidas" class="btn btn-primary" style="width: 20rem;">Ok, entendi!</a>
    </div>
</main>