
    <div class="container-fluid center">
        <div class="row">
            <div class="col">
                <div class="p-3">
                    <!-- seta para voltar e menu -->
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
                                <div class="container-fluid">
                                    <a class="back-arrow" href="/administrador/indexAdmin">←</a>
                                    
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    
                                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                                        <div class="navbar-nav ms-auto">
                                            <a class="nav-link" href="#" style="color: #050505; text-transform: uppercase; margin-right: 60px;">admin@peregrine.com</a>
                                            <a class="nav-link" href="#" style="color: #99067E; text-transform: uppercase;">Sair</a>
                                        </div>
                                    </div>
                                </div>
                            </nav>    
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>

                    <!-- container principal com a div de gerar relatorio -->
                    <main class="container">
                        <h1 style="color: #99067E">Relatórios</h1>
                        <br>
                        <!-- campo para gerar relatorio de Destinos mais visitados-->
                        <div class="row d-flex align-items-center justify-content-center text-center rounded-4 border border-2 border-secondary container" style="min-height: 70vh;">
                            <div class="col-md-4 rounded-4 container p-4" style="width: 20rem; background-color: #dee2e6;">
                                <h4 style="color: #99067E">Destinos mais visitados</h4>

                                <div class="row">
                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <img src="../public/images/icon_mundoRelatorio.png" alt="Ícone de avião sobrevoando em volta do mundo">

                                <div class="row">
                                    <div class="col">
                                        &nbsp;
                                    </div>
                                </div>

                                <a href="#" class="btn btn-primary btn-lg w-75">Gerar relatório</a>
                            </div>
                        </div>
                    </main>

                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/cadastroEnvioDoc.js"></script>
