<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- seta para voltar e menu -->
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
                            <div class="container-fluid">

                                <a class="back-arrow" href="/administrador/indexAdmin">←</a>

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                                    <div class="navbar-nav ms-auto">
                                        <a class="nav-link" href="#"
                                            style="color: #050505; text-transform: uppercase; margin-right: 60px;">admin@peregrine.com</a>
                                        <a class="nav-link" href="#"
                                            style="color: #99067E; text-transform: uppercase;">Sair</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>

                <!-- container principal -->
                <main class="container">
                    <h1 style="color: #99067E">Usuários</h1>
                    <br>
                    <!-- div de cantos arredondados-->
                    <div class="row d-flex align-items-center justify-content-center text-center rounded-4 border border-2 border-secondary container"
                        style="min-height: 70vh;">

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="../public/images/icon-gerenciarUsuario.png"
                                alt="Ícone de menina - gerenciar usuário">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/administrador/viajantes/listar" class="btn btn-primary btn-lg w-100">Gerenciar usuário</a>
                        </div>

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="../public/images/icon-aprovarUsuario.png" alt="Ícone de aprovado">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/administrador/viajantes/aprovar" class="btn btn-primary btn-lg w-100">Aprovar usuário</a>
                        </div>

                        <!-- campo para botao gerenciar usuários -->
                        <div class="col-md-4 rounded-4 container p-4 my-4"
                            style="width: 20rem; background-color: #dee2e6;">
                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <img src="../public/images/icon-verificarDenuncia.png" alt="Ícone de megafone - denúncia">

                            <div class="row">
                                <div class="col">
                                    &nbsp;
                                </div>
                            </div>

                            <a href="/administrador/denuncias" class="btn btn-primary btn-lg w-100">Verificar denúncias</a>
                        </div>
                    </div>
                </main>

            </div>
        </div>
    </div>
</div>

<script src="../scripts/cadastroEnvioDoc.js"></script>