<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                {{> headerUsuario}}
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <!-- container principal -->
                <main class="container-fluid">
                    <!-- imagem principal -->
                    <div class="d-flex center align-items-center justify-content-center position-relative"
                        style="height: 30vh; margin-top: 30vh; margin-bottom: 2vh; z-index: 1000;">
                        <img src="images/img-u-pesquisaViagemPrincipal.png" alt="Garota contempla paisagem tropical">
                    </div>

                    <!-- container para a pesquisa de viagem com os filtros específicos -->
                    <div class="d-flex flex-wrap my-4 align-items-center justify-content-center container position-absolute p-3 rounded-4"
                        style="max-width: 1000px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); z-index: 1001; left: 50%; transform: translateX(-50%); height: 18vh; top: 95vh;">

                        <!-- campo para inserir a localização (Origem) desejada para a viagem (filtro)-->
                        <div
                            class="col-12 col-md-3 rounded-4 container p-4 mx-1 my-1 d-flex flex-column align-items-center" style="position: relative; top: -25px;">
                            <div class="d-flex align-items-center mb-2">
                                <img src="images/icon-origem-localizacao.png" alt="Ícone de localização"
                                    style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem; margin-bottom:1px;">
                                <h4 class="m-0">Origem</h4>
                            </div>
                            <input type="text" name="searchOrigem" id="searchOrigem" placeholder="Onde você está?"
                                class="form-control text-center rounded-4" style="height: 2.5rem; margin-bottom:1px">
                        </div>

                        <!-- campo para inserir a localização (Destino) desejada para a viagem (filtro)-->
                        <div
                            class="col-12 col-md-3 rounded-4 container mx-1 p-4 my-1 d-flex flex-column align-items-center" style="position: relative; top: -25px;">
                            <div class="d-flex align-items-center mb-2">
                                <img src="images/icon-destino-mundo.png" alt="Ícone de mundo - localização"
                                    style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem;">
                                <h4 class="m-0">Destino</h4>
                            </div>
                            <input type="text" name="searchDestino" id="searchDestino" placeholder="Para onde você vai?"
                                class="form-control text-center rounded-4" style="height: 2.5rem;margin-bottom:1px;">
                        </div>

                        <!-- campo para inserir o período desejado para a viagem (filtro)-->
                        <div class="col-12 col-md-3 rounded-4 container mx-1 p-4 my-1 d-flex flex-column align-items-center" style="position: relative; top: -25px;">
                            <div class="d-flex align-items-center mb-2">
                                <h4 class="m-0">Embarque</h4>
                                <img src="images/icon-data.png" alt="Ícone de data - calendário"
                                   style="width: 1.5rem; height: 1.5rem; margin-right: 0.5rem; margin-left: 0.5rem;">
                                <h4 class="m-0">Retorno</h4>
                            </div>
                            <div class="input-group">
                                <input type="date" name="searchDataEmbarque" id="searchDataEmbarque"
                                    placeholder="dd/mm/aaaa" class="form-control text-center rounded-start-4"
                                    style="height: 2.5rem;">
                                <input type="date" name="searchDataRetorno" id="searchDataRetorno"
                                    placeholder="dd/mm/aaaa" class="form-control text-center rounded-end-4"
                                    style="height: 2.5rem;">
                            </div>
                        </div>

                        <!-- coluna do botão de pesquisa (botão arredondado roxo com lupa) -->
                        <div class="col-12 col-md-2 d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-center"
                                style="background-color: #99067E; border-radius: 50%; height: 4rem; width: 4rem; margin-bottom:50px;">
                                <a href="/viagem/resultados" name="searchViagem" id="searchViagem">
                                    <img src="images/icon-pesquisa-lupa.png" alt="Ícone de lupa - pesquisa"
                                        style="height: 2rem;">
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>