
    <div class="container-fluid center">
        <div class="row">
            <!--pagina inicial do upload de documentos-->
            <div class="col">
                <div class="p-3">
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <main class="container">
                        <h1 style="color: #99067E">Inscrição concluída</h1>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <p style="font-size: 1.3rem; text-align: justify;">Você se inscreveu nessa viagem e poderá
                            consultá-la no menu Minhas viagens. Esperamos que tudo ocorra bem, mas você poderá cancelar
                            a inscrição. Entre no grupo externo da viagem, para receber notícias e combinar detalhes
                            sobre a viagem.</p>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <br><br>

                        <!-- imagem principal -->
                        <div class="d-flex center align-items-center justify-content-center container"
                            style="min-height: 125px;">
                            <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de etapa de análise"
                                style="height: 30vh;">
                        </div>

                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <br><br>
                        <!-- Botão de confirmação da inscrição de viagem concluída -->
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-primary" id="entrarNoGrupo" style="width: 20rem;">Ok, entrar no grupo!</a>
                        </div>

                    </main>
                </div>
            </div>
        </div>
    </div>

<script src="/scripts/linkGrupo.js"></script>