{{> headerUsuario}}
<div class="container mt-4">
    <h1 style="color: #99067E; font-weight: bold; font-size: 28px; margin-bottom: 20px;">Ajuda</h1>
</div>

<main>
    <div class="container mt-2 rounded-4 border border-2 border-secondary" style="padding: 20px;">
        <div class="row" style="height: 65vh; overflow-y: auto;">
            <!-- coluna com o menu de opções para ajuda, FAQ e E-mail -->
            <div class="col-md-3" style="border-right: 2px solid #ccc; padding: 0;">
                <div class="list-group list-group-flush">
                    <!-- link do menu de opções para pagina FAQ -->
                    <a href="/faq" class="list-group-item list-group-item-action border-0 border-bottom"
                        style="font-size: 18px;">
                        <span class="mr-2"><img src="images/icon-FAQ.png" alt="ícone de ponto de interrogaçao"></span>
                        FAQ
                    </a>
                    <!-- link do menu de opções para pagina suporte e-mail -->
                    <a href="/suport-email" class="list-group-item list-group-item-action border-0 border-bottom"
                        style="font-size: 18px;">
                        <span class="mr-2"><img src="images/icon-suporteEmail.png" alt="ícone de email"></span>
                        E-mail
                    </a>
                </div>
            </div>

            <!-- coluna com o conteúdo principal (explicação do suporte por e-mail) -->
            <div class="col-md-9" style="padding-left: 0;">
                <div class="card border-0">
                    <div class="card-body">
                        <h4>E-mail</h4>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <p style="font-weight: bold;">Quer bater um papo?</p>
                            <br><br>
                            <p style="text-align: justify;">Envie um email para <span
                                    style="color: #99067E; font-weight: bold;">peregrine.planoviagem@gmail.com</span>
                                contendo seu nome e sua solicitação.
                                <br>Em seguida fique atenta a sua caixa de entrada, retornaremos em até 3 dias
                                úteis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
