<div class="container-fluid text-center"> 
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">

                        <a class="navbar-brand" href="#">
                            <img src="../public/images/img-logoPeregrine.png" alt="Logo peregrine">
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav ms-auto">
                                <a class="nav-link" href="#">{{user.email}}</a>
                                <a class="nav-link" href="/logout">Sair</a>
                            </div>
                        </div>
                    </div>
                </nav>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Bem vindo, {{{user.nome}}}</h1>
                <img src="../public/images/img-a-admIndex.png" alt="Montanha" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg">Relatórios</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg">Usuários</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg">Viagens</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <button class="btn btn-secondary btn-lg">Solicitações</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary btn-lg">Usuários admin</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-secondary btn-lg">Configurações</button>
            </div>
        </div>
    </div>