<div class="row gx-5">
  <div class="col">
    <div class="p-3">
      <a href="/" id="setaVoltar">←</a>
      <h1>Crie sua conta</h1>

      <form action="/cadastrarUsuario" method="post" style="text-align: start;" id="registrationForm">
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Nome:</label>
          <input name="nome" type="text" class="form-control" id="exampleInputText1" placeholder="insira seu nome completo">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail:</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1"
            placeholder="informe o e-mail que você mais utiliza">
        </div>
        <div class="mb-3">
          <label for="exampleInputPhone1" class="form-label">Celular:</label>
          <input name="celular" type="tel" class="form-control" id="exampleInputPhone1"  placeholder="ex.: (11) 91234-7891">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <input name="senha" type="password" class="form-control" id="password" name="password" placeholder="crie uma senha" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Confirme a senha:</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
            placeholder="insira a mesma senha que criou acima" required>
        </div>


        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Concordo com os termos e condições</label>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>

    </div>
  </div>
  <div class="col text-center">
    <div class="p-3">
      <img src="../public/images/img-cadastroPage.png" alt="Duas amigas tiram uma selfie ao ar livre">
    </div>
  </div>
</div>

<script>
  document.getElementById('registrationForm').addEventListener('submit', function(event) {
  const password = document.getElementById('password').value;
  const confirmPassword = document.getElementById('confirmPassword').value;

  if (password !== confirmPassword) {
    alert('As senhas não coincidem. Por favor, tente novamente.');
    event.preventDefault(); 
  }
  console.log('o script está funcionando')
});
</script>