<div class="container-fluid center">
    <div class="row">
        <!--pagina inicial do upload de documentos-->
        <div class="col">
            <div class="p-3">
                <!-- seta para voltar -->
                <a href="/CadastroEnvioDocs" class="back-arrow">←</a>
                <main class="container">
                    <h1 style="color: #99067E">Verificação de identidade</h1>
                    <br>
                    <p style="font-size: 1.3rem; text-align: justify;">Digite corretamente os dados abaixo conforme
                        constam no seu documento. Não abrevie o último sobrenome.</p>
                    <br>
                    <!-- inputs dos dados do documento de identidade -->
                    <form class="row" action="/verificaIdentidade" method="POST" enctype="multipart/form-data">
                        <p style="font-size: 1.3rem; text-align: justify;">Tire uma foto sua segurando o seu documento
                            pessoal e nos envie para garantir maior segurança ao seu perfil.
                            A imagem deve ser legível, nítida e mostrar rosto e membros superiores segurando o documento.
                            </h5><br>
                        <p style="font-size: 1.3rem; text-align: justify;">Serão aceitos arquivos nos formatos PNG, JPG e
                            PDF, de até 50 MB.</p>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <br>
                        <!-- upload selfie com o documento -->
                        <div class="row d-flex align-items-center text-center rounded-4 border border-2 border-dark container"
                            style="min-height: 125px;">
                            <div class="col-6 col-md-4 text-start">
                                <img id="uploadIcon3" class="img-fluid h-70" src="/public/images/icon-arquivoUpload.png"
                                    alt="ícone de arquivo para upload"><span class="fs-5"> Sua foto segurando o
                                    documento</span>
                            </div>
                            <div class="col-6 col-md-4 text-start"></div>
                            <div class="col-6 col-md-4">
                                <div class="mb-3">
                                    <label for="formFile3" class="form-label"></label>
                                    <input id="formFile3" type="file" name="selfieDoc"
                                        class="form-control flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <!-- botão para envio do formulario -->
                        <div class="d-flex align-items-end justify-content-end">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/cadastroVerificaIdentidade.js"></script>
