<div class="row gx-5">
  <div class="col">
    <div class="p-3">
      <a href="#" id="setaVoltar">←</a>
      <h1>Crie sua conta</h1>
      <form style="text-align: start;">
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="exampleInputText1" placeholder="insira seu nome completo">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="informe o e-mail que você mais utiliza">
        </div>
        <div class="mb-3">
          <label for="exampleInputPhone1" class="form-label">Celular:</label>
          <input type="tel" class="form-control" id="exampleInputPhone1" placeholder="ex.: (11) 91234-7891">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="crie uma senha">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Confirme a senha:</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="insira a mesma senha que criou acima">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Concordo com os termos e condições</label>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>
  </div>
  <div class="col text-center">
    <div class="p-3">
      <img src="../../../frontend/public/images/img-cadastroPage.png" alt="Duas amigas tiram uma selfie ao ar livre">
    </div>
  </div>
</div>
