<div class="container-fluid">
    <div class="row">
        <!--segunda coluna com a imagem principal -->
        <div class="col">
            <div class="p-3">
                <a href="/cadastro" class="back-arrow">←</a>
            </div>
        </div>
        <aside class="col-6 p-2 d-flex justify-content-center align-items-center">
            <img src="/images/img-cadastroPage.png" alt="Duas amigas tiram uma selfie ao ar livre"
                class="img-fluid img-full-height mx-5 d-none d-xl-block rounded-5">
        </aside>

        <!--primeira coluna com conteúdo e forms -->
        <div class="col">
            <div class="p-3">
                <main class="container">
                    <h1 style="color: #99067E">Termos e Condições</h1>
                    <br>
                    <div class="mb-3">
                        <h2>1. Aceitação dos Termos</h2>
                        <p>Ao usar este site, você concorda em cumprir estes Termos e Condições e todas as leis e
                            regulamentos aplicáveis. Se você não concordar com algum destes termos, está proibido de
                            usar ou acessar este site.</p>

                        <h2>2. Alterações nos Termos</h2>
                        <p>Nós reservamos o direito de modificar ou substituir estes Termos a qualquer momento.
                            Quaisquer mudanças serão notificadas e entrarão em vigor imediatamente após sua publicação
                            no site. O uso contínuo do site após essas alterações constitui sua aceitação dos novos
                            Termos.</p>

                        <h2>3. Cadastro e Responsabilidade</h2>
                        <p>Para utilizar certos serviços, você pode precisar criar uma conta. Você é responsável por
                            manter a confidencialidade de suas informações de login e por todas as atividades que
                            ocorrem em sua conta.</p>
                    </div>
                    <a href="/cadastro"><button class="btn btn-primary">Voltar</button></a>
                </main>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/cadastro.js"></script>