<div class="container text-center">
    <h1>Cadastro Realizado com Sucesso!</h1>
    <p>Seu cadastro foi concluído com sucesso. Agora você pode acessar sua conta.</p>
    <a href="/login" class="btn btn-primary">Ir para Login</a>
</div>
