<div class="container-fluid center">
    <div class="row">
        <!--pagina inicial do upload de documentos-->
        <div class="col">
            <div class="p-3">
                <!-- seta para voltar -->
                <a href="/" class="back-arrow">←</a>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <main class="container">
                    <h1 style="color: #99067E">Envio concluído</h1>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <p style="font-size: 1.3rem; text-align: justify;">Seus dados e arquivos foram enviados para a
                        análise de segurança. Fique atenta a sua caixa de e-mail, em até 3 dias úteis você receberá uma
                        mensagem sobre o resultado da verificação do seu perfil.</p>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!-- imagem principal -->
                    <div class="d-flex center align-items-center justify-content-center container"
                        style="min-height: 125px;">
                        <img src="/public/images/icon-analisandoCadastro.png" alt="Ícone de conclusão de etapa" style="height: 30vh;">
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>
                    
                    <!--botão de confirmação analise de cadastro -->
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/"><button type="submit" class="btn btn-primary">Ok, entendi!</button></a>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/cadastroEnvioDoc.js"></script>