<div>
    <h1>Login</h1>
    <form action="/cadastro" method="post">
        <div>
            <div class="mb-3 text-start">
                <label class="form-label">Nome:</label>
                <input type="name" name="nome" class="form-control" id="nome">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">email:</label>
                <input type="name" name="email" class="form-control" id="nome">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">celular:</label>
                <input type="name" name="celular" class="form-control" id="nome">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">senha:</label>
                <input type="name" name="senha" class="form-control" id="nome">
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">confirmar senha:</label>
                <input type="name" name="confirmarSenha" class="form-control" id="nome">
            </div>
            <div class="mb-3 text-start">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
    </form>
</div>

<!-- Botão adicional com classe Bootstrap -->
<button id="a" class="btn btn-primary">Clique Aqui</button>