<div class="container bgIndex">
    {{> headerUsuario}}
    <!-- O restante do conteúdo da página permanece o mesmo -->
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-6 text-start">
                        <h1>Faça as malas e inicie sua próxima jornada!</h1>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <p>Colecione experiências incríveis em ótima companhia.</p>
                        <div class="row">
                            {{#if user}}
                            <div class="col">
                                <a href="/viagem/planejamento"><button type="button" class="btn btnRoxo">Planejar uma
                                        viagem</button></a>
                            </div>
                            <div class="col">
                                <a href="/viagem/resultados"><button type="button" class="btn btnBranco">Pesquisar
                                        viagem</button></a>
                            </div>
                            {{else}}
                            <div class="col">
                                <a href="/cadastro"><button type="button" class="btn btnRoxo">Cadastre-se</button></a>
                            </div>
                            <div class="col">
                                <a href="/login"><button type="button" class="btn btnBranco">Fazer login</button></a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>