<div class="container text-center">
    <div class="row">

        <div class="col">
            <div class="p-3">
                <a href="/" id="setaVoltar">←</a>
                <h1>Embarque na sua próxima aventura</h1>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>

                <form action="/verificandoLogin" method="post" style="text-align: start;">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-mail :</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                            aria-describedby="emailHelp" placeholder="peregrina@outlook.com">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Senha :</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="senha"
                            placeholder="Digite sua senha " required>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>

                <p class="recuperarSenha">
                    <a href="/recuperarSenha" >Esqueci minha senha</a>
                </p>
                <p class="recuperarSenha">
                    <a href="/cadastro" >Não tem conta? Cadastre-se agora</a>
                </p>
            </div>
        </div>
    {{!-- coluna direita com a imagem,layout grid --}}
        <div class="col text-center">
            <div class="p-3">
                <img src="../public/images/img-loginPage.png" alt="Duas amigas caminham pela estrada">
            </div>
        </div>

    </div>
</div>