<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h1>Recuperar Senha</h1>
                <form action="/recuperar-senha" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail:</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="ex.: exemplo@dominio.com" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Código</button>
                </form>
            </div>
        </div>
    </div>
</div>
