<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <a href="/senhaCodigoRecuperacao" class="back-arrow">←</a>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>

                <main class="container mx-5">
                    <h1 class="text-center" style="color: #99067E;">Crie sua nova senha</h1>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <p class="text-center" style="font-size: 1.3rem;">Para a segurança de sua conta, sua nova senha deve
                        ser diferente das outras. <br>É necessário utilizar no mínimo 8 caracteres, contendo pelo menos uma letra e um caractere especial.</p>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>

                    <!-- campos para criação de nova senha -->

                    <form action="/atualizarSenha" method="POST" class="text-center">
                        <div class="mb-3 text-start">
                            <label for="nova-senha" class="form-label">Nova Senha</label>
                            <input type="password" class="form-control" id="newPasswordInput" name="novaSenha"
                                aria-describedby="novaSenha" placeholder="Digite sua nova senha">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputPassword1" class="form-label">Confirmação</label>
                            <input type="password" class="form-control" id="confirmPasswordInput" name="confirmarSenha"
                                placeholder="Confirme a senha">
                        </div>

                        <button type="submit" class="btn btn-primary text-centerviar email">Criar nova senha</button>
                    </form>

                    <p class="text-muted text-center">
                        <br><br>
                        Lembrou sua senha?<a href="/login" class="linkcadastro" style="color: #99067E;"> Voltar para
                            login</a>
                    </p>
                </main>
            </div>
        </div>
        <aside class="col-6 p-2 d-flex justify-content-center align-items-center">
            <img src="../public/images/img-crienovaSenhaPage.png" alt="Duas amigas caminham pela estrada"
                class="img-fluid img-full-height mx-5 d-none d-xl-block rounded-5">
        </aside>
    </div>
</div>

<script src="../scripts/criarNovaSenha.js"></script>