{{> headerUsuario}}
<div class="container-fluid center">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <!-- container principal página SOBRE-->
                <main class="container">
                    <div class="row">
                        <h1 style="color: #99067E">Sobre a Peregrine</h1>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <!-- texto da página SOBRE -->
                        <p style="font-size: 1.3rem; text-align: justify;">Bem-vinda ao nosso espaço, onde viajar é mais
                            do que um simples passeio — é uma experiência de <strong>empoderamento</strong>,
                            <strong>descoberta</strong> e <strong>conexão</strong>.
                        </p><br>
                        <p style="font-size: 1.3rem; text-align: justify;">Somos um <span
                                style="color:#99067E; font-weight: bold;">site de viagens dedicado exclusivamente a
                                mulheres</span> que buscam explorar o mundo de uma forma única, segura e inspiradora.
                        </p><br>
                        <p style="font-size: 1.3rem; text-align: justify;">Nossa missão é criar um ambiente acolhedor e
                            livre de julgamentos, onde cada mulher possa encontrar o apoio, as dicas e os recursos
                            necessários para planejar sua viagem dos sonhos. Acreditamos que viajar transforma, e
                            queremos garantir que você se sinta confiante e empoderada em cada nova aventura que
                            escolher embarcar.</p><br>
                        <p style="font-size: 1.3rem; text-align: justify;">Oferecemos conteúdo diversificado, com
                            sugestões de destinos, roteiros personalizados, dicas de segurança, hospedagem, cultura
                            local e muito mais — tudo com um olhar feminino, atento às necessidades e interesses das
                            mulheres. Além disso, nosso site também promove um espaço de troca entre viajantes, onde
                            você pode compartilhar experiências, se inspirar em histórias de outras mulheres e até mesmo
                            encontrar companheiras de viagem para dividir momentos inesquecíveis.</p><br>
                        <p style="font-size: 1.3rem; text-align: justify;">Seja para uma escapada curta ou uma viagem de
                            longa duração, estamos aqui para ajudar você a transformar cada jornada em uma oportunidade
                            de crescimento pessoal, conexão com novas culturas e, claro, muito prazer em explorar o
                            mundo ao seu redor. Aqui, toda mulher é protagonista de sua própria história de viagem.</p>
                        <br>
                        <p style="font-size: 1.3rem; text-align: justify;">Prepare-se para descobrir novos horizontes e
                            se conectar com outras mulheres incríveis que compartilham a paixão por explorar o mundo.
                        </p><br>
                        <p style="font-weight: bold; font-size: 1.3rem; text-align: justify;">Estamos juntas nessa
                            jornada! ✈️</p>
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>

                    <!--imagem principal da página-->
                    <div class="d-flex center align-items-center justify-content-center container">
                        <img src="/images/img-u-sobrePeregrine.png" class="img-fluid" alt="Imagem Principal">
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>

                    <!-- o botão abaixo retorna para a página de cadastro, assim como a seta de inicio -->
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="btn btn-primary" href="/" style="width: 20rem;">Partiu viajar!</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </main>
                <!-- link bootstrap icons -->
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
            </div>
        </div>
    </div>
</div>
{{> footer }}