.bodyindexPage {
    background-image: url('../public/images/img-telaInicial.png'); 
    background-size: cover; 
    mask-repeat: no-repeat;
    background-position: center; 
    background-attachment: scroll; 
    margin: 0;
    padding: 0;
    height: 100vh;
}

.btn-primary {
    background-color: #99067E; /* Altere para a cor desejada */
    border-color: #99067E; /* Altere para a cor desejada */
}

/* Preservando o hover e o foco do botão */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #cf70be; /* Cor para hover e foco */
    border-color: #cf70be;
}

.btn-secondary {
    background-color: #D9D9D966; 
    border-color: #D9D9D966; 
}

/* Preservando o hover e o foco do botão */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #d9d9d9da; /* Cor para hover e foco */
    border-color: #d9d9d9da;
    color: #D9D9D966;
}

.p-3 #setaVoltar {
   text-decoration: none; 
   font-size: 3rem;
   color: #99067E;
}

.p-3 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #99067E;
}

.p-3 img {
    height: 96vh;
    width: auto;
    border-radius: 8px;
    margin: 0;
}

.mb-3 input {
    background-color: #D9D9D966;
    border: none;
    border-radius: 20px;
    height: 3rem;
    padding-left: 2rem;
}

.form-check-input{
    border-color: #99067E;
}

.btn {
    font-size: 1.5rem;
    width: 33.5rem;
    height: 4rem;
    margin-top: 2rem;
    left: 72px;
    gap: 0px;
    border-radius: 50px;
    border: none;

}


#linkRecuperarSenha {
    font-size: 1rem;
    color: #99067E;
}


.col-6 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #fff;
}

.col-6 p {
    font-size: 1.5rem;
    color: #fff;
}



/* Deixar a navbar transparente */
.navbar {
    background-color: transparent !important;
    border: none;
}

.nav-link {
    color: #99067E;
}

#btnPlanejarViagem {
    background-color: #99067E;
    font-size: 1.5rem;
    color: #fff;
    width: 16rem;
    height: 2.5rem;
    left: 72px;
    right: 72px;
    gap: 0px;
    border-radius: 50px;
    border: none;
    margin-bottom: 1.5rem;
    display: flex;
}

#btnPesquisarViagem {
    background-color: #fff;
    font-size: 1.5rem;
    color: #99067E;
    width: 16rem;
    height: 2.5rem;
    left: 72px;
    right: 72px;
    gap: 0px;
    border-radius: 50px;
    border: none;
    
}
#login{
    font-size: 1rem;
    color: #99067E;
}


.col-6 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #fff;
}

.col-6 p {
    font-size: 1.5rem;
    color: #fff;
}
