.bgIndex {
    background-image: url(../public/images/img-telaInicial.png); 
    background-size: cover; 
    max-width: 100%;
    min-height: 100vh;
    font-family: "Montserrat",sans-serif;
}

.btn {
    font-size: 20px;
    font-weight: 400;
    width: 32rem;
    height: 3rem;
    margin: 1rem 0 1rem 0;
    border-radius: 50px;
    border: none;
    justify-content: center;
}

.btnPlanejarViagem {
    background-color: #99067E;
    color: #fff;
    width: 16rem;
}

.btnPesquisarViagem {
    background-color: #fff;
    color: #99067E;
    width: 16rem;
}

.btn-primary{
    background-color: #99067E;
    color: #fff;
}

.btn:hover
 {
    background-color: #cf70be; /* Cor para hover e foco */
    border-color: #cf70be;
    transition: ease-in 0.4s;
}

.recuperarSenha a {
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    color: #99067E;
}

.recuperarSenha a:hover {
    font-size: 1.05rem;
    transition: ease-in 0.3s;
}

.p-3 #setaVoltar {
    display: flex;
    align-items: flex-start;
   text-decoration: none; 
   font-size: 3rem;
   color: #99067E;
}

.p-3 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #99067E;
}

.p-3 img {
    height: 96vh;
    width: auto;
    border-radius: 8px;
    margin: 0;
}

.mb-3 input {
    background-color: #D9D9D966;
    border: none;
    border-radius: 20px;
    height: 3rem;
    padding-left: 2rem;
}

.form-check-input{
    border-color: #99067E;
}


#linkRecuperarSenha {
    font-size: 1rem;
    color: #99067E;
}


.col-6 h1 {
    font-size: 3rem;
    margin-top: 2rem;
    color: #fff;
}

.col-6 p {
    font-size: 1.5rem;
    color: #fff;
}



/* Deixar a navbar transparente */
.navbar {
    background-color: transparent !important;
    border: none;
    display: flex;
}

.navbar-nav {
    align-items: center;
  }

.nav-link {
    color: #99067E;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.nav-link:hover{
    background-color: #cf70be; /* Cor para hover e foco */
    border-color: #cf70be;
    transition: ease-in 0.4s;
}

.recuperarSenha p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


