/* centralizar a imagem principal da segunda coluna */
.img-full-height {
    height: 98vh;
    object-fit: cover;
}
/* centralizar o conteúdo na primeira coluna */
.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Estilo para a seta voltar*/
.back-arrow {
    display: flex;
    align-items: flex-start;
    text-decoration: none; 
    font-size: 3rem;
    color: #99067E;
}

/* Estilo para a seta prosseguir*/
.proceed-arrow {
    text-decoration: none; 
    font-size: 1.5rem;
    color: #99067E;
}

/* Personalização do botão */
.btn-custom {
    background-color: #99067E;
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn-custom:hover {
    background-color: #cf70be;
}

.mb-3 input {
    background-color: #D9D9D966;
    border: none;
    border-radius: 20px;
    height: 3rem;
    padding-left: 2rem;
}




