<div class="container-fluid center">
    <div class="row">
        <!--pagina confirmação da exclusão da viagem-->
        <div class="col">
            <div class="p-3">
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                </div>
                <main class="container">
                    <h1 style="color: #99067E">Viagem excluída</h1>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <p style="font-size: 1.3rem; text-align: justify;">Sua viagem foi excluída com sucesso. Essa ação
                        não pode ser desfeita, mas você pode criar uma nova viagem quando quiser! Esperamos que em breve
                        você embarque em novas aventuras com a gente!</p>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!-- imagem principal -->
                    <div class="d-flex center align-items-center justify-content-center container"
                        style="min-height: 125px;">
                        <img src="/images/icon-aprovarUsuariosConcluido.png" alt="Ícone de etapa de análise"
                            style="height: 30vh;">
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <br><br>

                    <!--botão de confirmação viagem excluída -->
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="/" class="btn btn-primary" style="width: 20rem;">Ok, entendi!</a>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>