{{> headerUsuario}}


<main>
    <div class="container mt-4">
        <h1 style="color: #99067E; font-weight: bold; font-size: 28px; margin-bottom: 20px;">Meu perfil</h1>
    </div>
    <div class="container mt-2 rounded-4 border border-2 border-secondary" style="padding: 20px;">
        <div class="row" style="height: 65vh; overflow-y: auto;">
            <!-- coluna com o menu de opções para configurar o perfil da usuaria -->
            {{>menuPerfil}}
            <div class="col-md-9" style="padding-left: 0;">
                <div class="card border-0">
                    <div class="card-body">
                        <h3>Minhas Viagens</h3>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <form>

                            <!-- Viagens inscritas -->
                            <div class="row mt-4">
                                <div class="col-md-10">
                                    <a href="/perfil/minhas-viagens-inscritas" class="h5" style="color: black; cursor: pointer;">
                                        Inscritas
                                    </a>
                                </div>
                            </div>

                            <!-- Linha separadora -->
                            <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">

                            <!-- Viagens criadas -->
                            <div class="row mt-4">
                                <div class="col-md-10">
                                    <a href="/perfil/minhas-viagens-criadas" class="h5" style="color: black; cursor: pointer;">
                                        Criadas
                                    </a>
                                </div>
                            </div>

                            <!-- Linha separadora -->
                            <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">

                            <!-- Viagens concluidas -->
                            <div class="row mt-4">
                                <div class="col-md-10">
                                    <a href="/perfil/minhas-viagens-concluidas" class="h5" style="color: black; cursor: pointer;">
                                        Concluídas
                                    </a>
                                </div>
                            </div>

                            <!-- Linha separadora -->
                            <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</main>