{{> headerUsuario}}
<main>
    <div class="container mt-4">
        <h1 style="color: #99067E; font-weight: bold; font-size: 28px; margin-bottom: 20px;">
            <a href="/perfil" style="color: #99067E; text-decoration: none;">Meu perfil</a>
        </h1>
    </div>
    <div class="container mt-2 rounded-4 border border-2 border-secondary" style="padding: 20px;">
        <div class="row" style="height: 65vh; overflow-y: auto;">
            <!-- coluna com o menu de opções para configurar o perfil da usuaria -->
            {{>menuPerfil}}
            <div class="col-md-9" style="padding-left: 0;">
                <div class="card border-0">
                    <div class="card-body">
                        <h3>Minhas Viagens</h3>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>

                        <!-- Viagens inscritas -->
                        <div class="row mt-4">
                            <div class="col-md-10">
                                <a class="h5" style="color: black;">
                                    Inscritas
                                </a>
                            </div>
                        </div>

                        <!-- Linha separadora -->
                        <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">

                        <!-- Viagens listadas -->
                        {{#if viagensInscritas.length}}
                        {{#each viagensInscritas}}
                        <div class="row mt-4">
                            <div class="col-md-10">
                                <a href="/viagem/detalhes/{{this.id}}" class="h6"
                                    style="color: black; cursor: pointer; font-weight: 600">
                                    {{this.titulo}}
                                </a>
                            </div>
                            <div class="d-flex mt-2" style="justify-content: space-between;padding-left: 1rem;">
                                <p>{{this.volta}}</p>
                                <p style="color: rgb(190, 41, 168);">Atenção: você precisa confirmar presença no grupo. </p>
                            </div>
                        </div>
                        <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">

                        {{/each}}
                        {{else}}
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <p>Você não esta inscrita em nenhuma viagem</p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>